.demo-table {
    width: 100%;
  }
  
  .mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-demo-weight {
    font-style: italic;
  }
  
  .mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }

  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 100px;
  }
  .example-button-row button {
    margin-right: 8px;
  }